@-moz-document regexp("https?://((beta|test|wiki)\\.)?musicbrainz\\.org(.*)") {
	body {
		background: #333;
		color: #DDD;
	}

	/* various emphasized boxes */
	.banner, /* banner messages */
	div.artwork-cont, /* cover art container */
	div.thumb-position, /* reorder cover art */
	.search-help, /* editing history help box */
	div.ar-descr, .form-help, /* help boxes for relationship & attribute types */
	.add-edit-note .edit-note-help, /* edit notes help box */
	#drop-zone, /* add cover art */
	#filter /* artist discography filter */	{
		background: #444;
		border-color: #666;
	}
	div.caa-warning, div.warning {
		background: #884;
		border-color: #666;
	}

	/* header menu & tabs */
	.header .right ul.menu > li .menu-header, #footer-menu {
		filter: contrast(1.5);
	}
	.header .right ul.menu li ul li {
		background-color: #444;
	}
	.header .right ul.menu li ul li a, div.tabs, div.tabs ul li a {
		color: inherit;
		border-color: #666;
	}
	div.tabs ul li.disabled a {
		color: #DDD;
		background-color: #666;
		border-color: #666;
	}

	/* table headers and stripes */
	table.tbl {
		border-color: #777;
		border-top-width: 2px; /* inversion of thead hides 1px border!? */
	}
	table.tbl thead, table.tbl .subh {
		filter: invert(0.9);
	}
	table.tbl th {
		color: #111; /* invert(#DDD) = #222 */
		border-left: 1px solid; /* TODO: no effect, left border not visible */
		border-bottom-width: 2px; /* inversion of thead hides 1px border!? */
	}
	table.tbl .subh a { /* medium sections in disc id table */
		filter: invert(1);
	}
	table.tbl th a > bdi { /* attach CD TOC RG link, but not medium titles */
		color: #DDD;
	}
	table.tbl .subh td {
		color: #111; /* invert(#DDD) = #222 */
	}
	table.tbl tr.even td, table.tbl tr.even th {
		background: #444;
	}

	/* entity pages */
	#sidebar, li.separator, .set-cover-art div.editimage {
		border-color: #666;
	}
	.annotation-collapsed::after, .collapsed::after, .review-collapsed::after, .wikipedia-extract-collapsed::after {
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #333 100%) !important;
	}
	span.caa-icon {
		filter: invert(0.9);
	}
	.set-cover-art div.editimage.selected {
		background: #252;
		border-color: #777;
	}

	/* release page */
	table.tbl.medium tr:not(.mp) .expand-triangle {
		filter: invert(1);
	}
	dl.ars dt {
		color: #BBB;
	}
	thead tr.mp {
		filter: invert(1);
	}

	/* release editor & other entity edit pages */
	/* tabs */
	.ui-tabs .ui-tabs-nav {
		background: #555;
	}
	.ui-tabs .ui-tabs-nav li {
		background: #333;
	}
	.ui-tabs-nav .ui-state-default {
		border-bottom-color: #555 !important; /* = .ui-tabs-nav background color */
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border-color: #666;
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border-color: #888;
	}
	.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
		color:#DDD;
	}
	#release-editor .error-tab {
		background-color: #633;
	}
	/* bubbles, tooltips & dialogs */
	.bubble {
		background: #555;
	}
	.bubble.left-tail::before, .bubble.right-tail::after {
		border-right-color: #555;
		border-left-color: #555;
	}
	.tooltip-container .tooltip-content {
		background: #333;
		border-color: #555;
		box-shadow: 0 2px 5px #555;
	}
	.tooltip-container .tooltip-triangle:before {
		border-right-color: #555;
	}
	.tooltip-container .tooltip-triangle:after {
		border-right-color: #333;
	}
	.dialog {
		background: #333;
		border-color: #666;
	}
	.dialog.popover div[data-popper-arrow]::before {
		background: #333;
	}
	.dialog.popover[data-popper-placement^="right"] > div[data-popper-arrow]::before {
		border-color: #666;
	}
	/* tracklist tab */
	#release-editor .medium.tbl tr.track td {
		background: inherit;
		border-color: #555;
	}
	#release-editor #recordings fieldset, div.half-width fieldset {
		border-color: #666;
	}
	#release-editor #recordings fieldset table tr.even td {
		background: #444;
	}
	table.tbl .data-track.icon {
		filter: invert(1);
	}
	/* icons */
	button.icon.guesscase-title, button.icon.guesscase-sortname, button.icon.guessfeat, img[src*=guesscase],
	button.icon[class*=down], button.icon[class*=up],
	button.icon.copy-date, button.icon.sortname-copy, button.icon.add-item,
	button.icon.collapse-medium, button.icon.expand-medium,
	.help, .loading-message {
		filter: invert(0.9) hue-rotate(180deg);
	}
	.loading-message {
		color: initial; /* make message visible again */
	}
	span.autocomplete img.search {
		filter: invert(0.5); /* visible when empty and after lookup was performed */
	}
	#external-links-editor span.favicon {
		filter: drop-shadow(0 0 2px #999); /* black icons become invisible otherwise */
	}
	/* popup dialog widget (autocomplete, cover art gallery) */
	.ui-menu .ui-menu-item a {
		color: inherit;
	}
	.ui-menu .ui-menu-item a:hover,
	.ui-widget-content.ui-autocomplete .ui-state-focus {
		color: #111; /* invert(#222) = #DDD */
		filter: invert(0.9);
	}
	.ui-widget-content {
		background: inherit;
		border-color: #666;
	}
	.content-loading {
		filter: invert(1); /* no white placeholders for images, also inverts animation */
	}

	/* editor & database statistics */
	table.statistics th, table.statistics td {
		border-color: #888;
	}
	table.statistics th, table.database-statistics tr.thead th {
		background: #555;
	}

	/* tags and genres */
	#all-tags .genre-list li.even, #all-tags .tag-list li.even, .all-tags .genre-list li.even, .all-tags .tag-list li.even {
		background: #444;
	}
	.tag-count {
		background: #666;
	}
	.tag-upvoted .tag-count, .tag-downvoted .tag-count {
		color: initial;
	}

	/* form elements */
	input, textarea {
		border-color: #777;
	}
	input[type=text]:not(.lookup-performed):not(.success):not(.error), input:not([type]),
	input[type=url], input[type=search], input[type=password], input[type=email], textarea {
		background: #222;
		color: #DDD;
	}
	input[type=number], input[type=radio], input[type=checkbox], input[type=button], input[type=submit],
	select, button, .buttons a {
		filter: invert(0.9) hue-rotate(180deg); /* make it dark but keep the color tone */
	}
	button.icon, button.tag-vote, .btn-link { /* exceptions */
		filter: none;
	}
	thead input[type=checkbox], tr.subh input[type=checkbox] {
		filter: hue-rotate(180deg); /* already inverted through thead / tr.subh */
	}
	/* do net let visited buttons look different */
	.buttons a:visited {
		color: #666;
	}
	.buttons a:focus, .buttons a:hover {
		color: #369; /* declare this again because it is overwritten by the above rule */
	}
	/* increase contrast of buttons: lighten outline/text => use darker inverted colors (subtract #333) */
	.buttons a, .buttons button, .styled-button {
		color: #333;
		border-color: #999;
		border-top-color: #BBB;
		border-left-color: #BBB;
	}
	.buttons a:focus, .buttons a:hover, .buttons button:focus, .buttons button:hover, .styled-button:focus, .styled-button:hover {
		background-color: #AFC4CF;
		border-color: #62919F;
		color: #036;
	}

	/* relationship editor */
	#content.rel-editor span.link-phrase {
		color: inherit;
	}
	#content.rel-editor span.link-phrase:hover,
	#content.rel-editor span.link-phrase.rel-edit,
	#content.rel-editor span.link-phrase.rel-add,
	#content.rel-editor span.link-phrase.rel-remove,
	.rel-edit, .rel-add, .rel-remove {
		color: initial;
	}
	#content.rel-editor .warning, div.rel-editor-dialog .warning {
		color: initial;
	}
	/* relationship attribute multi-select (vocal type) */
	div.multiselect > div.menu, div.multiselect > div.items a {
		background: #555;
		border-color: #777;
	}
	div.multiselect > div.menu > a {
		color: inherit;
	}

	/* pagination */
	nav .pagination a {
		background: inherit;
		color: inherit;
		border-color: #888;
	}
	nav .pagination span { /* disabled previous/next button */
		background: #666;
		color: #999;
		border-color: #777;
	}

	/* voting interface */
	.edit-list {
		background: #444;
	}
	.edit-notes .edit-note h3 {
		background: #555;
		color: #DDD;
	}
	.edit-notes .edit-note .date {
		color: #BBB;
	}
	.edit-notes .modbot {
		color: #AAA;
	}
	.edit-notes .modbot a {
		color: #888;
	}
	.edit-list .edit-actions {
		color: initial;
		background-color: #777;
	}
	/* TODO: convert individual colors of the edit headers to be compatible with custom link colors */
	.edit-header {
		color: initial;
	}
	.edit-header a, .edit-header a:visited, .edit-header a:hover {
		color: revert; /* use default link colors */
	}

	/* user avatars */
	img.gravatar {
		background: inherit;
		border-color: #888;
	}
	img.gravatar[src*=placeholder] {
		border-color: #BBB;
		filter: brightness(0.8);
	}

	/* hyperlinks, have to be visible on dark background and on all highlight colors */
	a, #footer a, .btn-link, #content.rel-editor .btn {
		color: #3BF;
	}
	a:visited {
		color: #F3F;
	}
	a:focus, a:hover { /* declare this again because it is overwritten by the above rules */
		color: #EB743B; /* MB brand color */
	}
	h1 a {
		color: #DDD !important;
	}

	/* highlights */
	.annotation-details, .lastupdate, .small, #footer {
		color: #BBB;
	}
	table.details td span.new, table.details td span.old, table.details td.new, table.details td.old {
		border-color: #666;
	}
	.negative, tr.diff-removal, table.details td span.old, table.details td.old {
		background: #522;
	}
	div.diff .diff-only-a, span.diff-only-a {
		background: #855;
	}
	.positive, tr.diff-addition, table.details td span.new, table.details td.new {
		background: #252;
	}
	div.diff .diff-only-b, span.diff-only-b {
		background: #585;
	}
	::selection {
		color: #DDD;
		background: #BA478F; /* MB branding color */
	}
	/* pending edits highlight */
	div.mp,	span.mp, table.tbl tr.mp td, table.tbl tr.mp th, tr.diff-changes {
		background: #04C !important;
	}
	/* automatic removal warning for unused entities */
	p.cleanup {
		color: initial;
	}

	/* database statistics timeline */
	.flot-text {
		color: #BBB !important;
	}
	#tooltip {
		color: initial;
	}

	/* documentation & wiki pages */
	body.mediawiki {
		background: #111;
	}
	body.mediawiki div#globalWrapper {
		background-image: none;
	}
	.mw-body, .portlet, .portlet .pBody {
		background: #333;
		color: inherit;
	}
	.wikicontent #toc, .wikicontent .toc,
	.mw-body #toc, .mw-body .toc,
	.mw-body .catlinks, .mw-changeslist-legend {
		background: #444;
		border-color: #666;
	}
	.wikicontent code {
		background: #555;
	}
	.wikicontent #toc h2, .mw-body #toc h2,
	.mw-body .tocnumber, .mw-body h1, .mw-body h3, .mw-body h4, .portlet h3 {
		color: inherit;
	}
	.mw-body .tocnumber, #p-personal li a {
		color: #DDD;
	}
	table.wikitable {
		color: inherit;
		background: inherit;
	}
	.wikicontent table.wikitable th, .wikicontent table[border^="1"] th,
	.mw-body table.wikitable th, .mw-body table[border^="1"] th {
		background-color: #444;
	}
	table.jquery-tablesorter th {
		background-color: #BBB !important;
		color: #222;
		filter: invert(1);
	}
	.wikicontent table.wikitable tr:nth-child(2n) td, .wikicontent table[border^="1"] tr:nth-child(2n) td,
	.mw-body table.wikitable tr:nth-child(2n+1) td, .mw-body table[border^="1"] tr:nth-child(2n+1) td {
		background: #444;
	}
	.mbwiki-navbox-rowtitle {
		background-color: #333;
	}
	.wikicontent table.wikitable th, .wikicontent table[border^="1"] th,
	.wikicontent table.wikitable td, .wikicontent table[border^="1"] td,
	.mw-body table.wikitable th, .mw-body table[border^="1"] th,
	.mw-body table.wikitable td, .mw-body table[border^="1"] td {
		border-color: #777;
	}
	.mw-parser-output > table:nth-child(1) {
		color: initial;
		filter: brightness(70%);
	}
	.mw-body fieldset {
		border-color: #BBB;
	}
	a.external, a.external:active, a.external:focus, a.extiw, a.extiw:active, a.extiw:focus, a:active, a:focus {
		color: #3BF !important;
	}
	#mw-indicator-mw-helplink a {
		filter: invert(0.9) hue-rotate(180deg); /* invert icon */
	}
}
